
h1 {
    color: khaki;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1q04f5d*_ga*MTQwNjQ2NzY0NS4xNjY0OTAyNzk2*_ga_3LRZM6TM9L*MTY2NTQ2NDkyNS4xMC4xLjE2NjU0NjYxODUuNTcuMC4w);
}

.presentation img {
    height: 200px;
    width: 100%;
    position: relative;
}

.brushes {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 237, 79);
}

.frames {
    color: rgb(255, 255, 255);
    background-color: rgb(247, 127, 35);
}

.paint {
    color: rgb(255, 255, 255);
    background-color: rgb(86, 225, 223);
}

h2 {
    color: brown;
}

.price {
    color: blue;
    font-weight: bold;
}
